.loginDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #303a6bdd;
}

.loginButton{
    height: 8em;
    width: 8em;

    background-color: transparent;

    background-image: url(../../img/sello_login.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.paper{
    height: 50em;
    width: 30em;

    margin: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    background-image: url(../../img/pergamino1.svg); 
    /* buscar pergamino más sencillo, sin efectos para que el svg se vea mejor */
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}