.profileDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #303a6bdd;
    color: grey;
    font-weight: bold;
}

.profileData{
    height: 80vh;
    width: 40vw;

    margin: 1.5em;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

    background-color: transparent;

    background-image: url(../../img/pergamino1.svg); 
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

    color:grey;
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;

}

.avatarProfile{
    border-radius: 50%;
    height: 7em;
    width: 7em;
}

.nickname{
    font-family: "Parisienne", cursive;
    font-style: normal;
    font-weight: bold;

    font-size: 3em;
    color: #b88914;
}