.headerDesign{

    height: 12vh;
    width: 100vw;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.outDesign{
    color: #DAA520;
    font-weight: bold;
    transition: 0.2s;
    margin: 1em;
}

.outDesign:hover{
    color: 	#F0E68C;
    transition: 0.2s;
    cursor: pointer;
}