.headerDesign{

    height: 10vh;
    width: 100vw;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.outDesign{
    color: #DAA520;
    font-weight: bold;
    transition: 0.2s;
    margin: 1em;
}

.outDesign:hover{
    color: 	#F0E68C;
    transition: 0.2s;
    cursor: pointer;
}

.searchInput{
    height: 1.5em;
    width: 12em;

    border-radius: 0.5em;
    color:black;
    font-style: bold;
    border: 0.2em solid #8C530A;
    background-color: #c1a44d;
    margin: 1.5em;

    cursor: text;
}